<main>
    <div class="row">
        <div class="col-6 offset-3">
            <h1>Cadastrar Informações</h1>
            <form action="/cadastrar" method="post" enctype="multipart/form-data">
                <input type="text" name="nome" id="" placeholder="Título da notícia">
                <input type="number" name="numero" id="" placeholder="Número categoria">
                <input type="file" name="imagem" id="">
                <input type="submit" value="Cadastrar" class="btn btn-success">
            </form>
        </div>
    </div>
</main>