<main>
    <article id="article-index">
        <div class="news">
            <img src="images/eu.png" />
            <h1>Página do professor Evandro Diniz</h1>
            <p>Professor EBTT nas disciplinas de informática.</p>
            <p>Instituto Federal do Maranhão.</p>
        </div>
    </article>
</main>